REACT_APP_FIREBASE_API_KEY=AIzaSyCHk98RRoe6-w3ciEyKVqIQCSqgRwVeuS4
REACT_APP_FIREBASE_AUTH_DOMAIN=conf-lister.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=conf-lister
REACT_APP_FIREBASE_STORAGE_BUCKET=conf-lister.firebasestorage.app
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=938330388931
REACT_APP_FIREBASE_APP_ID=1:938330388931:web:e0f478175f4fa693956576
REACT_APP_FIREBASE_MEASUREMENT_ID=G-8N1VD8DYM0
REACT_APP_API_URL=http://localhost:8000


